---
import { changeLanguage } from "i18next";
import Contact from "../../components/Contact.astro";
import Hero from "../../components/Hero.astro";
import Projects from "../../components/Projects/Projects.astro";
import Technologies from "../../components/Technologies/Technologies.astro";
import Traits from "../../components/Traits.astro";
import Layout from "../../layouts/Layout.astro";

changeLanguage("ptBR");
---

<Layout title="Mateus Toledo">
  <Hero />
  <Traits />
  <Technologies />
  <Projects />
  <Contact />
  <div
    id="toast"
    class="flex flex-col gap-4 items-end fixed bottom-8 right-8 max-w-[calc(100%-64px)]"
  >
  </div>
</Layout>
