---
import Button from "../Button.astro";
import Container from "../Container.astro";
import BackendTech from "./BackendTech.astro";
import FrontendTech from "./FrontendTech.astro";
import Languages from "./Languages.astro";
import MiscTech from "./MiscTech.astro";
import TestingTech from "./TestingTech.astro";
import { t } from "i18next";
---

<section class="bg-stone-900 py-8">
  <Container>
    <h2 class="text-3xl font-bold text-center mb-12">
      {t("technologies.title")}
    </h2>
    <ul class="flex justify-center gap-16 flex-wrap mb-20">
      <Languages />
      <FrontendTech />
      <BackendTech />
      <MiscTech />
      <TestingTech />
    </ul>
  </Container>
</section>
