---
import Button from "./Button.astro";
import { t } from "i18next";
---

<form id="contact-form">
  <h3 class="font-medium text-lg mb-2">{t("contact.sendMeAMessage")}</h3>
  <div class="space-y-4">
    <input
      name="from_name"
      aria-label={t("contact.name")}
      type="text"
      placeholder={t("contact.name")}
      required
    />
    <input
      name="from_email"
      aria-label={t("contact.email")}
      type="email"
      placeholder={t("contact.email")}
      required
    />
    <textarea
      name="message"
      aria-label={t("contact.message")}
      placeholder={t("contact.message")}
      rows="6"
      required></textarea>
    <div class="flex justify-end">
      <Button primary>{t("contact.send")}</Button>
    </div>
  </div>
</form>

<!-- TODO styling could use some work -->
<style>
  input,
  textarea {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    background-color: transparent;
    outline: 2px solid #a8a29e;
  }

  input:focus,
  textarea:focus {
    outline: 2px solid #4f46e5;
  }

  input::placeholder,
  textarea::placeholder {
    color: #999999;
  }
</style>

<script>
  import sendNotification from "../utils/sendNotification";

  const form = document.getElementById("contact-form") as HTMLFormElement;
  form.addEventListener("submit", (e) => {
    e.preventDefault();
    if (!(e.target instanceof HTMLFormElement)) return;
    const data = Object.fromEntries(new FormData(e.target).entries());
    const body = JSON.stringify({
      service_id: "default_service",
      template_id: "portfolio_template",
      user_id: "Sp1b-6nyvnpp_hhP1",
      template_params: data,
    });
    fetch("https://api.emailjs.com/api/v1.0/email/send", {
      method: "POST",
      headers: {
        "Content-type": "application/json",
      },
      body,
    })
      .then((res) => {
        if (res.status === 200) {
          sendNotification("success", "I will get back to you ASAP!");
          form.reset();
        } else throw new Error("Something went wrong");
      })
      .catch(() => {
        sendNotification("error", "Something went wrong.");
      });
  });
</script>
