---
import Container from "./Container.astro";
import Nav from "./Nav.astro";
import LOGO from "../assets/img/logo.png";
---

<header class="fixed w-full transition-all duration-500 z-10">
  <Container class="flex justify-between">
    <a href="/">
      <h1 class="font-bold text-2xl">
        <img src={LOGO} class="w-16 max-w-none" alt="Mateus Toledo" />
      </h1>
    </a>
    <Nav />
  </Container>
</header>

<script>
  const header = document.querySelector("header");
  document.addEventListener("scroll", () => {
    if (!header) return;
    if (window.scrollY === 0 && header) {
      header.classList.remove("glass");
    } else if (!header.classList.contains("glass")) {
      header.classList.add("glass");
    }
  });
</script>

<style>
  .glass {
    background: rgba(0, 0, 0, 0.34);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
</style>
