---
import DownloadIcon from "../assets/img/icon/DownloadIcon.astro";
import Button from "./Button.astro";
import Container from "./Container.astro";
import RESUME_FILE from "../assets/resume/Resume-Mateus-Toledo.pdf";
---

<section class="bg-stone-900 h-[640px] flex flex-col">
  <Container class="flex justify-between items-center w-full">
    <div>
      <h2 class="mb-4">
        <span class="text-3xl text-gray-400"> Hi there 👋, I'm</span>
        <br />
        <span class="text-6xl font-bold text-indigo-600">Mateus Toledo</span>
      </h2>
      <p class="text-3xl font-medium mb-16">Full-Stack Web Developer</p>
      <div class="flex gap-4">
        <a target="_blank" href={RESUME_FILE}>
          <Button class="flex items-center gap-1">
            <DownloadIcon class="w-6 stroke-current stroke-[10px]" />
            <span>Resume</span>
          </Button>
        </a>
        <a href="#contact">
          <Button primary>Contact me</Button>
        </a>
      </div>
    </div>
  </Container>
</section>
