---
---

<div
  class="absolute bottom-0 w-full h-full justify-center items-center bg-stone-900 bg-opacity-80 hidden"
  id="loader-container"
>
  <div class="loader"></div>
</div>

<style>
  .loader {
    width: 48px;
    height: 48px;
    border: 5px solid #fff;
    border-bottom-color: #4f46e5;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>
