---
import GithubIcon from "../assets/img/icon/GithubIcon.astro";
import NavItem from "./NavItem.astro";
import { t } from "i18next";
---

<nav class="flex gap-8">
  <NavItem class="hidden sm:block">
    <a href="#projects">{t("header.projects")}</a>
  </NavItem>
  <NavItem>
    <a target="_blank" href="https://github.com/mateusmtoledo">
      <GithubIcon
        class="fill-white hover:fill-indigo-600 h-6 transition-colors"
      />
    </a>
  </NavItem>
</nav>
