---
const Icon = Astro.props.icon;
const title = Astro.props.title;
---

<li class="flex flex-col items-center max-w-[250px] text-center">
  <Icon class="w-16 stroke-white fill-white mb-8" />
  <h3 class="text-xl text-indigo-600 font-bold mb-4">{title}</h3>
  <p>
    <slot />
  </p>
</li>
