---
import BookIcon from "../assets/img/icon/BookIcon.astro";
import DetailsIcon from "../assets/img/icon/DetailsIcon.astro";
import PuzzleIcon from "../assets/img/icon/PuzzleIcon.astro";
import Container from "./Container.astro";
import Trait from "./Trait.astro";
import { t } from "i18next";
---

<section>
  <Container>
    <h2 class="visually-hidden">Traits</h2>
    <ul class="flex flex-wrap gap-16 justify-center py-24">
      <Trait icon={BookIcon} title={t("traits.selfTaught.title")}>
        {t("traits.selfTaught.text")}
      </Trait>
      <Trait icon={DetailsIcon} title={t("traits.detailOriented.title")}>
        {t("traits.detailOriented.text")}
      </Trait>
      <Trait icon={PuzzleIcon} title={t("traits.problemSolver.title")}>
        {t("traits.problemSolver.text")}
      </Trait>
    </ul>
  </Container>
</section>
