---
import BookIcon from "../assets/img/icon/BookIcon.astro";
import Container from "./Container.astro";
import Trait from "./Trait.astro";
---

<section>
  <Container>
    <h2 class="visually-hidden">Traits</h2>
    <ul class="flex flex-wrap gap-16 justify-center py-24">
      <Trait icon={BookIcon} title="SELF-TAUGHT">
        I'm currently pursuing a degree in IT, but most of my Web development
        knowledge was acquired while studying on my own, in my free time.
      </Trait>
      <Trait icon={BookIcon} title="SELF-TAUGHT">
        I'm currently pursuing a degree in IT, but most of my Web development
        knowledge was acquired while studying on my own, in my free time.
      </Trait>
      <Trait icon={BookIcon} title="SELF-TAUGHT">
        I'm currently pursuing a degree in IT, but most of my Web development
        knowledge was acquired while studying on my own, in my free time.
      </Trait>
    </ul>
  </Container>
</section>
